<img src="assets/images/bot.gif" (click)="chat()" width="200px" class="chatbot hideBot">

<!-- <div class="row">
    <div class="col-md-8">
     
    </div>
    <div class="col-md-4"><button type="button" class="btn btn-default" >
        <span class="glyphicon glyphicon-remove " aria-hidden="true"></span>
      </button>
    </div>
  </div> -->
<div class="panel panel-primary chatBox chatbot col-sm-3 col-sm-offset-4 frame ">
  <div class="panel-heading">Chat Window <span class="glyphicon glyphicon-remove pull-right" (click)="closeChat()"
      aria-hidden="true"></span>
  </div>
  <div class="panel-body">
    <div class="">
      <ul id="msg">
        <li style="width:100%" *ngFor="let msg of chatMsgs">
          <div [className]="msg.who==='bot' ? 'macro msj-rta' : 'macro msj'">
            <div class="avatar"><img class="img-circle" style="width:100%;" [src]="msg.avatar" /></div>
            <div class="text text-l">
              <p class="lead"> {{msg.text}} </p>
              <div *ngIf="msg.type=='list'" class="list panel-body">
                <p class="text-muted" *ngFor="let listItems of msg.list">{{listItems}}</p>
              </div>
              <div *ngIf="msg.questions" class="list">
                <a *ngFor="let question of msg.questions" href="#"
                  (click)="requested('me',question,100)" role="button">{{question}}</a>
              </div>

              <p><small> {{msg.time}} </small></p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="panel-footer">
    <!-- <div class="inputarea">
      <div class="msj-rta macro" style="margin:auto">
      
      </div>
    </div> -->
    <div class="text text-r" style="background:whitesmoke !important" *ngIf="msgInput">
      <input class="mytext" placeholder="Enter Here" (keyup.enter)="onKey($event)" />
    </div>
  </div>

</div>